<div class="p-4 m-2 jumbotron agenda__home">
  <div class="container-fluid">
    <div class="row no-gutters">
        <div class="col text-right p-2">
            <button class="text-right btn btn-success btn-large" (click)="openDialog()"> 
                Crear nuevo evento
            </button>
        </div>
        <div class="col-12">
            <app-table></app-table>
        </div>
    </div>
    <div class="row no-gutters">
      <app-calendar class="agenda__calendar"></app-calendar>
    </div>
  </div>
</div>