<div class="alert alert-info" role="alert" *ngIf="agendaService.agendas.length === 0">
    <strong> Por el momento no tienes eventos creados. </strong>
</div>

<table class="table orange" *ngIf="agendaService.agendas.length !== 0">
    <thead>
        <tr class="agenda__table-head">
            <th scope="col">Nombre del Evento</th>
            <th scope="col">Responsable</th>
            <th scope="col">Telefono</th>
            <th scope="col">Correo</th>
            <th scope="col">Fecha</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of agendaService.agendas" class="agenda__table-body">
            <td>{{ item.nombre }}</td>
            <td>{{ item.persona }}</td>
            <td>{{ item.telefono }}</td>
            <td>{{ item.correo }}</td>
            <td>{{ item.fecha | date }}</td>
            <td>
                <span class="dot"
                    [ngClass]="item.status ? 'green' : 'red'">
                </span>
            </td>
            <td>
                <button class="btn btn-warning mx-1 fa-white" (click)="openEdit( item.id )"> 
                    <i class="fa fa-edit fa-lg"></i>
                </button>
                <button class="btn btn-danger mx-1" (click)="openDelete( item.id )"> 
                    <i class="fa fa-trash fa-lg"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>